extends ../layout

block content
    title= title
    #content-padder 
    #content-real
        .subheader Layers #{payload.layer}
        p.content-text
            |!{json['description'].replace('<table ', '<table class="pde_table"')}
        p.content-text 
            b 
                |Level for tile requests: #{json['tileRequestsLevel']}
        table.pde_table(cellpadding='4' cellspacing='0' border='1' width='90%')
            thead
                tr
                    th(width='30%') Attribute
                    th(width='70%') Description
            tbody
                each description, attribute in json['attributes']
                    tr 
                        td #{attribute}
                        td !{description}  
        p.content-text Sample tile requests: 
            - var parameters = "?" + "region=" + payload.region + "&release=" +  payload.release  + "&url_root=" + url_root;
            - var sampleTypes = ["json", "txt"];
            if json['tileX'] != "-1"
                each sampleType in sampleTypes 
                    a.pde(href='https://' + url_root + '/1/tile.' + sampleType + "?layer=" + payload.layer + "&level=" + json['tileRequestsLevel'] + "&tilex=" + json['tileX'] + "&tiley=" + json['tileY'] + "&" + parameters + "&app_id=" + payload.app_id + "&app_code=" + payload.app_code) link_to sampleType
            else
                |#{"Layer is empty." + "\n"}
